:root {
    --primary: #2196f3;
    --accent:#ddffff;
    --border: #a8c2d8;
    --danger: #661111;
}


p {
    max-width: 60ch;
}

li {
    list-style-type: none
}
header {
  min-height: 40px;
  margin: 10px;
  border-color: var(--border);
  border-left: 6px solid var(--primary);
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 5px 5px #1d1e1f;
}

form {
  border-style: solid;
}
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.notice {
  margin-top: 10px;
  padding: 10px;
  border-style: solid;
  border-color: var(--danger);
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 5px 5px var(--accent);
  border-style: solid;
}

li {
  margin: auto;
}
header a {
  padding-left: 40px;
}

a {
  text-decoration: none;
}
button {
  background-color: var(--primary);
}
